/* Cuerpo */

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

/* Header */
.move {
  display: flex;
  flex-direction: row;
  padding-left: 30%;
}

.header .move a.inicio {
  color: #333;
  background-color: #f1f1f1;
}

.header .move a.inicio:hover {
  color: white;
  background-color: #333;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  padding: 2rem 0;
  left: 0;
  top: 0;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.header .move a {
  color: white;
  text-decoration: none;
}



.head-item a {
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  
}

.head-item a:hover {
  background: #4a4a4a;
}

/*.head-item2 {
    padding-left: 35%;
  }*/

.presentacion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url(../PHOTOS/fondo-index.jpg);
  padding-top: 150px;
  padding-bottom: 25px;
}

.presentacion-item {
  flex-basis: auto;
  width: 1000px;
}

.presentacion-item pre{
  padding-top: 50%;
  padding-left: 50%;
}

/*200 px*/
.foto-mostrador {

  background-size: cover;
  width: 100%;
  padding-bottom: 30px;
}

.footer {
  background-color: #f2f2f2;
  padding: 4rem 0;
  text-align: center;
  margin-top: 0rem;
}

.correo {
  color: #333;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.correo:hover {
  background-color: #908f8f;
}

.ubi {
  color: #333;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.ubi:hover {
  background-color: #4a4a4a;
  color: white;
}

/*Menú collapse*/
.collapsible {
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  padding: 0;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.item {
  background-color: #f2f2f2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  list-style-type: none;
}

.item2 {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  list-style-type: none;
  color: #333;
}

.active,
.collapsible:hover {
  background-color: #555;
  padding: 0;
  color: #f2f2f2;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.lista {
  margin-top: 0px;
  padding-left: 0px;
  background-color: #f1f1f1;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.lista:hover {
  background-color: #333;
}

.lista:hover .item2 {
  color: #a0a0a0;
}

.lista:hover .item2 .correo {
  color: #a0a0a0;
}

.head {
  width: 100%;
  height: 600px;
  background-image: url("/PHOTOS/mostrador.png");
  background-size: cover;
  color: #f1f1f1;
  margin: 0;
  padding: 0;

}

.venidos {
  text-align: center;
  padding-top: 2%;
}

.cafe {
  text-align: center;
  color: peru;
  font-size: 4rem;
}

.txt {
  padding-left: 25%;
  padding-right: 25%;
  text-align: justify center;
  font-size: 14px;
}

.detail {
  padding-left: 47%;
  padding-right: 47%;
  font-size: 25px;
  text-decoration: none;
  color: peru;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.detail:hover {
  background-color: peru;
  color: white;
}

.alineado {
  padding-right: 4%;
}


